<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="approveb2b" id="approveb2b">
			<module before="Magento_Backend" name="MageGuide_B2BLogin"/>
		</route>
		<route frontName="disapproveb2b" id="disapproveb2b">
			<module before="Magento_Backend" name="MageGuide_B2BLogin"/>
		</route>
		<route frontName="forcepassword" id="forcepassword">
			<module before="Magento_Backend" name="MageGuide_B2BLogin"/>
		</route>
	</router>
</config>