<!--@subject {{trans "B2B Customer Approved"}} @-->
{{inlinecss file="email-inline.css"}}
<table align="center" class="wrapper-table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" background="" style="background-repeat: no-repeat; background-color: rgb(236, 236, 236);">
	<tbody>
		<tr>
			<td class="wrapper-td" valign="top" align="center" background="" style="background-repeat: no-repeat; background-color: rgb(236, 236, 236);">
				<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="main-table">
					<tbody>
						<tr>
							<td align="center" class="content">
								<table width="600" cellpadding="0" cellspacing="0" class="newsletter-row">
									<tbody>
										<tr>
											<td class="row-td" background="" valign="top" bgcolor="#ffffff" style="background-repeat: no-repeat;">
												<table width="100%" class="inner-row-table" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td class="slot HALF" width="300" cellpadding="0" cellspacing="0" align="left" valign="top" style="background-color: transparent; max-width: 300px; width: 300px; overflow: visible;">
																<table class="component" cellspacing="0" cellpadding="0" width="300" align="center" style="background-color: rgb(236, 236, 236); clear: both;">
																	<tbody>
																		<tr>
																			<td height="86"></td>
																		</tr>
																	</tbody>
																</table>
																<table class="component" cellspacing="0" cellpadding="0" width="300" align="center" style="background-color: transparent; clear: both;">
																	<tbody>
																		<tr>
																			<td height="20"></td>
																		</tr>
																	</tbody>
																</table>
																<table class="component" cellspacing="0" cellpadding="0" width="300" style="clear: both; background-color: transparent;">
																	<tbody>
																		<tr class="newsletter-main-content">
																			<td class="image image-container" align="left" style="line-height: 1px;">
																				<img src="https://www.polib2b.gr/media/polib2bTemplateLogo.jpg" alt="PoliB2B Logo" class="newsletter-image not-resized" width="300" height="auto" align="bottom" style="border: 0px;" /></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td class="slot HALF" width="300" cellpadding="0" cellspacing="0" align="left" valign="top" style="background-color: transparent; max-width: 300px; width: 300px; overflow: visible;">
																	<table class="component" cellspacing="0" cellpadding="0" width="300" align="center" style="background-color: rgb(236, 236, 236); clear: both;">
																		<tbody>
																			<tr>
																				<td height="86"></td>
																			</tr>
																		</tbody>
																	</table>
																	<table class="component" data-component-type="spacer" cellspacing="0" cellpadding="0" width="300" align="center" style="background-color: transparent; clear: both;">
																		<tbody>
																			<tr>
																				<td height="20"></td>
																			</tr>
																		</tbody>
																	</table>
																	<table class="component text-component" cellspacing="0" cellpadding="0" width="300" style="clear: both; background-color: transparent;">
																		<tbody>
																			<tr>
																				<td style="padding: 22px; word-wrap: break-word; word-break: break-word;">
																					<div class="text_container newsletter-main-content" style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 1.3; font-size: 16px;">
																						<p style="text-align: right; margin: 0px;"><span style="font-size:14px;"><span style="text-decoration: none;"><span class="custom-style-link" style="font-family: Arial, Helvetica, sans-serif;"><strong>
																							<a href="https://www.polib2b.gr/" style="text-decoration:none;" target="_blank"><span style="color:#f39c12;">Σύνδεση</span></a>
																							<span style="color:#f39c12;"> | Μάθετε περισσότερα</span>
																						</strong>
																					</span>
																				</span>
																			</span>
																		</p>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="600" cellpadding="0" cellspacing="0" class="newsletter-row  non-responsive">
						<tbody>
							<tr>
								<td class="row-td" background="" valign="top" bgcolor="transparent" style="background-repeat: no-repeat;">
									<table width="100%" class="inner-row-table" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td class="slot FULL" width="600" cellpadding="0" cellspacing="0" align="left" valign="top" style="background-color: transparent; max-width: 600px; width: 600px; overflow: visible;">
													<table class="component" cellspacing="0" cellpadding="0" width="600" style="clear: both; background-color: transparent;">
														<tbody>
															<tr class="newsletter-main-content">
																<td class="image image-container" align="left" style="line-height: 1px;">
																	<img src="https://www.polib2b.gr/media/polib2bHeaderImage.png" alt="Email Image" class="newsletter-image not-resized" width="600" height="auto" align="bottom" style="border: 0px;" /></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table data-structure-type="row" width="600" cellpadding="0" cellspacing="0" class="newsletter-row  non-responsive">
							<tbody>
								<tr>
									<td class="row-td" background="" valign="top" bgcolor="#ffffff" style="background-repeat: no-repeat;">
										<table width="100%" class="inner-row-table" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td class="slot FULL" width="600" cellpadding="0" cellspacing="0" align="left" valign="top" style="background-color: transparent; max-width: 600px; width: 600px; overflow: visible;">
														<table class="component text-component" cellspacing="0" cellpadding="0" width="600" style="clear: both; background-color: transparent;">
															<tbody>
																<tr>
																	<td style="padding: 10px; word-wrap: break-word; word-break: break-word;">
																		<div class="text_container newsletter-main-content" style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 1.3; font-size: 16px;">
																			<p style="margin: 0px;">Αγαπητέ συνεργάτη, </p>

																			<p style="margin: 0px;"> </p>

																			<p style="margin: 0px;">H Polib2b δραστηριοποείται στο χονδρικό εμπόριο ειδών σπιτιού για οικιακή και επαγγελματική χρήση παρέχοντας πλήρη εξυπηρέτηση σε Ελλάδα και Κύπρο. Αποτελεί αποκλειστική
																				αντιπρόσωπο κορυφαίων Ευρωπαϊκών brands, προσφέροντας αξιόπιστες υπηρεσίες, πιστοποιημένο σύμφωνα με τις ισχύουσες προδιαγραφές εμπόρεμα και ικανοποιητικό αιρθμό
																			αποθέματος προϊόντων.</p>

																			<p style="margin: 0px;"> </p>

																			<p style="margin: 0px;">Είμαστε στην ευχάριστη θέση να σας ενημερώσουμε πως έπειτα από διαλογή για την ανεύρεση νέων συνεργατών χονδρικής πώλησης επιλέξαμε το κατάστημά σας. </p>

																			<p style="margin: 0px;"> </p>

																			<p style="margin: 0px;">Παρακάτω βρίσκονται οι πληροφορίες σύνδεσής σας στην πλατφόρμα χονδρικής πώλησης Polib2b.</p>

																			<p style="margin: 0px;"> </p>

																			<p style="margin: 0px;">Για τη σύνδεσή σας παρακαλώ ακολουθήστε τα παρακάτω βήματα:</p>

																			<ol>
																				<li>Μεταβείτε στην Σελίδα 
																					<a href="https://www.polib2b.gr/" style="text-decoration:none;" target="_blank">
																						<span class="custom-style-link" style="color:#337ab7;font-family:Arial,Helvetica,sans-serif;font-size:16px;">https://polib2b.gr</span>
																					</a>
																				</li>
																				<li>Στο πάνω δεξιά μέρος της σελίδας πατήστε στο κουμπί Σύνδεση</li>
																				<li>Συμπληρώστε με τα παρακάτω στοιχεία
																					<ul>
																						<li>Όνομα χρήστη: Το email <span style="font-weight: bold;">{{var customeremail}}</span>  που αναζητήσαμε ωστε να έρθουμε σε επικοινωνία μαζί σας</li>
																						<li>Kωδικός: <span style="">ο κωδικός που επιλέξατε κατά την εγγραφή σας.</span><br />
																							<span>Αν δεν τον θυμάστε, <a href="https://www.polib2b.gr/customer/account/forgotpassword">πατήστε εδώ</a> για να τον επαναφέρετε.</span>
																						</li>
																					</ul>
																				</li>
																				<li>Έπειτα από την σύνδεση σας μεταβείτε στην σελίδα "Ο λογαριασμός μου" και συμπληρώστε όλα τα υποχρεωτικά πεδία.</li>
																				<li>Στην καρτέλα "Ο λογαριασμός μου" θα βρείτε όλες απαραίτητες πληροφορίες που χρειάζεστε, όπως τον προιοντικό κατάλογο με τις τιμές τους, τους μοναδικούς κωδικούς
																					(SKU), λεπτομερή περιγραφές για τα προϊόντα καθώς και φωτογραφικό υλικό. Επίσης σας επισυνάπτουμε και ανάλογα αρχεία XML - CSV για συγκεντρωτικές πληροφορίες
																				των προϊόντων ή για οποιαδήποτε ανάγκη σας.</li>
																			</ol>

																			<p style="text-align: center; margin: 0px;">Αρμόδια για την προσωπική σας εξυπηρέτηση:</p>

																			<p style="text-align: center; margin: 0px;"><span style="font-size:18px;"><span style="color:#f8931e;"><strong>Iωάννα Τσαούση</strong></span></span>
																			</p>

																			<p style="text-align: center; margin: 0px;"><span style="font-size:14px;">T. 2311 23 00 21</span></p>

																			<p style="margin: 0px;"> </p>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table data-structure-type="row" width="600" cellpadding="0" cellspacing="0" class="newsletter-row  non-responsive">
							<tbody>
								<tr>
									<td class="row-td" background="" valign="top" bgcolor="#f8931e" style="background-repeat: no-repeat;">
										<table width="100%" class="inner-row-table" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td class="slot FULL" width="600" cellpadding="0" cellspacing="0" align="left" valign="top" style="background-color: transparent; max-width: 600px; width: 600px; overflow: visible;">
														<table class="component" cellspacing="0" cellpadding="0" width="600" align="center" style="background-color: transparent; clear: both;">
															<tbody>
																<tr>
																	<td height="34"></td>
																</tr>
															</tbody>
														</table>
														<table class="component" cellspacing="0" cellpadding="0" width="600" style="clear: both; background-color: transparent;">
															<tbody>
																<tr class="newsletter-main-content">
																	<td class="image image-container" align="center" style="line-height: 1px;">
																		<a href="https://www.polib2b.gr/" target="_blank" class="newsletter-image-link" style="line-height: 1px; text-align: center;">
																			<img src="https://www.polib2b.gr/media/polib2bFooterLogo.png" alt="Email Image" class="newsletter-image " width="193" height="auto" align="bottom" style="border: 0px;" /></a></td>
																		</tr>
																	</tbody>
																</table>
																<table class="component" cellspacing="0" cellpadding="0" width="600" align="center" style="background-color: transparent; clear: both;">
																	<tbody>
																		<tr>
																			<td height="16"></td>
																		</tr>
																	</tbody>
																</table>
																<table class="component text-component" data-component-type="text" cellspacing="0" cellpadding="0" width="600" style="clear: both; background-color: transparent;">
																	<tbody>
																		<tr>
																			<td style="padding: 10px; word-wrap: break-word; word-break: break-word;">
																				<div class="text_container newsletter-main-content" style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 1.3; font-size: 16px;">
																					<p style="text-align: center; margin: 0px;"><strong>
																						<a href="https://www.polib2b.gr" style="text-decoration:none;" target="_blank">
																							<span style="color:#ffffff;"><span class="custom-style-link" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;">www.polib2b.gr</span></span>
																						</a></strong>
																						<span style="color:#ffffff;"><strong> | 2311 23 00 11</strong></span>
																					</p>
																					<p style="text-align: center; margin: 0px;"> </p>
																					<p style="text-align: center; margin: 0px;">
																						<span style="font-size:9px;">
																							<a href="#unsubscribeLink#" style="text-decoration:none;" target="_blank">
																								<span style="color:#f39c12;"><span class="custom-style-link" style="font-family: Arial, Helvetica, sans-serif;">Απεγγραφή απο την Polib2b</span></span>
																							</a>
																						</span>
																					</p>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
																<table class="component" cellspacing="0" cellpadding="0" width="600" align="center" style="background-color: transparent; clear: both;">
																	<tbody>
																		<tr>
																			<td height="12"></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<table width="600" cellpadding="0" cellspacing="0" class="newsletter-row  non-responsive">
									<tbody>
										<tr>
											<td class="row-td" background="" valign="top" bgcolor="transparent" style="background-repeat: no-repeat;">
												<table width="100%" class="inner-row-table" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
															<td class="slot FULL" data-structure-type="slot" data-slot-type="FULL" width="600" cellpadding="0" cellspacing="0" align="left" valign="top" style="background-color: transparent; max-width: 600px; width: 600px; overflow: visible;">
																<table class="component text-component" data-component-type="text" cellspacing="0" cellpadding="0" width="600" style="clear: both; background-color: transparent;">
																	<tbody>
																		<tr>
																			<td style="padding: 10px; word-wrap: break-word; word-break: break-word;">
																				<div class="text_container newsletter-main-content" style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; line-height: 1.3; font-size: 16px;">
																					<p style="text-align: center; margin: 0px;"><span style="font-size:10px;">Polib2b.gr</span></p>
																					<p style="text-align: center; margin: 0px;"><span style="font-size:12px;">Ιωνίας 5 Καλοχώρι Θεσσαλονίκης.</span></p>
																				</div>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>